BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
ColumnLimit: 100
IndentAccessModifiers: true
PointerAlignment: Left
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
