# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*

# Project
lib/glad/glad.h
lib/glad/glad.c
lib/stb/stb_image.h
compile_flags.txt
CMakeFiles/
cmake_install.cmake
Makefile
